<nav class="navbar navbar-expand-lg navbar-light bg-light cont">
  <a class="navbar-brand text-primary">Hello {{ userInfo?.name }}</a>
  <button class="btn btn-danger ml-auto" (click)="logout()">
    logout
  </button>
</nav>

<div class="row">
  <ul *ngFor="let post of posts">
    <li>
      <a class="content">
        <p>{{ post.content }}</p>
      </a>
      <a href="#" (click)="doDelete(post)" class="text-danger">delete</a>
    </li>
  </ul>
</div>

<div class="center_div text-center mt-5">
  <h1>add note</h1>
  <form #addNoteForm="ngForm" (ngSubmit)="addNoteForm.valid && onSubmit()">
    <input
      type="text"
      class="form-control"
      name="content"
      #content="ngModel"
      [ngModel]="postModel?.content"
      (ngModelChange)="postModel.content = $event"
      placeholder="your note"
      required
    />

    <button
      type="submit"
      class="btn btn-primary mt-3"
      value="Submit"
      [disabled]="!addNoteForm.form.valid"
    >
      Add
    </button>
  </form>
</div>
